* {
  color: rgb(255, 254, 254);
  box-sizing: border-box;
}

:root {
  --cor-secundaria: #ffaf00;
  /* Define uma variável para a cor secundária */
}

html {
  background-image: url(imagens/Arena.jpg);
  background-size: cover;
  background-attachment: fixed;
}

body {
  margin: 0;
  padding: 0;
}

.nav-menu {
  margin: 0 20px;

}

/* estilo do header */

header {
  background-color: rgba(19, 17, 17, 0.9);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0px 20px;
  flex-wrap: wrap;
  width: 100%;

}

.logo img {

  width: 100px;
  height: 100px;
  align-items: left;

}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;

}

.menu li {
  margin-right: 20px;

}

.menu li a {
  text-decoration: none;
  color: white;

}

.menu li a:hover {
  color: var(--cor-secundaria);

}

.menu li:hover {
  display: block;

}


.sub-menu {

  display: none;
  list-style: none;
  position: absolute;
  background-color: rgba(19, 17, 17, 0.9);
  padding: 10px;
  z-index: 1;

}

.categorias:hover .sub-menu {
  display: block;

}

.categorias .sub-menu:hover {
  display: block;

}

.sub-menu.active {
  display: block;
}

/* estilos do main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.content {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 20px;

}

.botao-jogue-agora button {
  font-size: 27px;
  font-family: Impact, fantasy;
  width: 200px;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 196, 226, 1) 35%, rgba(0, 212, 255, 1) 100%);
  border-radius: 20px;
  border-color: black;

}


.nav-pai {
  width: 100%;
}

.section-cards {
  display: flex;

}

h1 {
  font-family: "Beaufort for LOL Bold";
  text-align: center;
  margin-top: 75px;

}

/* Tamanho de fonte menor */
.small-font {
  font-size: 25px;

}

/* Tamanho de fonte maior */
.big-font {
  font-size: 90px;

}

.span-container {
  display: block;
  /* Faz com que os spans fiquem embaixo um do outro */
  margin-bottom: 0;
  /*espaço entre containers*/
}

/* Estilo dos cartões */
.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.champion-card {
  flex: 0 1 calc(22% - 20px);
  /* 4 cartões em uma linha com espaçamento de 20px */
  margin: 30px;
  display: flex;
  flex-direction: column;
  /* Adiciona flex-direction: column para o posicionamento vertical */
  align-items: center;
  /* Centraliza horizontalmente */
  text-align: center;
  /* Centraliza o texto horizontalmente */
  border: 0px 0px 10px rgba(245, 245, 247, 0.5);
  padding: 10px;
  /* Adiciona um padding para dar espaço entre o texto e o card */
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  /* Define a cor de fundo para o card */
  position: relative;
  /* Define a posição como relativa para que o corte funcione corretamente */
  overflow: hidden;
  /* transform-style: preserve-3d;  */
  transition: transform 0.3s;



}

.champion-card::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  backface-visibility: hidden;
  border-width: 60px 0 0 80px;
  /* Tamanho do triângulo */
  border-color: rgb(27, 26, 26, 0.8);
  /* Cor do triângulo */
  clip-path: polygon(100% 0, 100% 100%, 0 0);
  /* Define o polígono para recortar o canto */
}


.card-front img {
  margin-top: 25px;
  object-fit: cover;
  width: 80%;
  border-radius: 20px;
}

.card-front h3 {
  font-family: "Beaufort for LOL Bold";
  text-transform: uppercase;
  font-size: 25px;
  /* Reduz o tamanho da fonte para que caiba melhor no card */
  color: white;
  /* Define a cor do texto do h3 como branco */
  margin-top: 0;
  /* Remove o margin-top para que o h3 fique colado no topo do card */
  padding: 10px;
  /* Adiciona um padding para dar espaço entre o texto e o background */
  border-radius: 20px;
}

.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-family: "Beaufort for LOL Bold";
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg) scaleX(-1);
  backface-visibility: hidden;
  border-radius: 20px;
  z-index: 1;
}

.champion-card.flipped {
  transform: rotateY(180deg);
}

/* Gire o card para o estado de frente*/
.champion-card.flipped .card-front {
  transform: perspective(900px) rotateY(180deg);
  backface-visibility: hidden;
}

.champion-card.flipped .card-back {
  transform: rotateY(0deg) scaleX(-1); 
}


/*  estilo do footer */
.container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1px;
  margin-top: auto;
  padding: 0;
  flex-direction: column;
}

.rodape {
  background-color: rgba(19, 17, 17, 0.9);
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;


}


/* deixando responsivo */

@media screen and (max-width: 768px) {

  .container {
    flex-direction: column;
    align-items: center;
  }

  .logo img {
    margin-bottom: 20px;
  }

  .champion-card {
    flex: 0 1 calc(50% - 20px);
    /* 2 cartões em uma linha com espaçamento de 20px */
  }
}