* {
  color: rgb(255, 254, 254);
  box-sizing: border-box;
}

:root {
  --cor-secundaria: #ffaf00;
  /* Define uma variável para a cor secundária */
}

html{
  background-image: url(imagens/desktop-1920x1080.jpg);
  background-size: cover;
  background-attachment: fixed;
}
body {
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Beaufort for LOL Bold";
  font-size: 90px;
  margin-top: 125px;
  padding: 0;
  position: static;
  left: 0;
  right: 0;

}

/* main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

} */

.nav-menu {
  margin: 0 20px;

}

header {
  background-color: rgba(19, 17, 17, 0.9);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0px 20px;
  flex-wrap: wrap;
  width: 100%;

}

.logo img {

  width: 100px;
  height: 100px;
  align-items: left;

}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;

}

.menu li {
  margin-right: 20px;

}

.menu li a {
  text-decoration: none;
  color: white;

}

.menu li a:hover {
  color: var(--cor-secundaria);

}

.menu li:hover {
  display: block;

}


.sub-menu {

  display: none;
  list-style: none;
  position: absolute;
  background-color: rgba(19, 17, 17, 0.9);
  padding: 10px;
  z-index: 1;

}

.categorias:hover .sub-menu {
  display: block;

}

.categorias .sub-menu:hover {
  display: block;

}

.sub-menu.active {
  display: block;
}

.content {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 20px;

}

.botao-jogue-agora button {
  font-size: 27px;
  font-family: Impact, fantasy;
  width: 200px;
  cursor: pointer;
  background: #0BC4E2;
  border-radius: 20px;

}



.nav-pai {
  width: 100%;
}

.section-cards {

  /* margin-top: 10px;
   */

}

/* .container-card {
  .container-card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
     justify-content: center; Isso não é necessário para o Grid Layout 
  }
} */
.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilo dos cartões */
.champion-card {
  flex: 0 1 calc(25% - 20px);
  /* 6 cartões em uma linha com espaçamento de 20px */
  margin: 10px;
  /* Restante do estilo dos cartões... */
}

/* .champion-card {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
} */

.card-front img {
  object-fit: cover;
  width: 80%
}

.card-front h3 {
  margin-top: 0;
  font-size: 50px;
}

.card-back {
  display: none;
  padding: 10px;
}

/* footer */
.container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1px;
  margin-top: auto;
  padding: 0;
  flex-direction: column;
}

.rodape {
  background-color: rgba(19, 17, 17, 0.9);
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;


}

@media screen and (max-width: 768px) {

  .container {
    flex-direction: column;
    align-items: center;
  }

  .logo img {
    margin-bottom: 20px;
  }

  .champion-card {
    flex: 0 1 calc(50% - 20px);
    /* 2 cartões em uma linha com espaçamento de 20px */
  }
}